.App {
  text-align: center;
  background-size: cover;
}

.home {
  background-size: cover;
  display:inline-block;
  text-align:center;
  height:100%;
  object-fit: cover;
}

img { 
  display: block;
  height: 100%;
  object-fit: cover;
}

.navbar {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.navbar:hover {
  background-color: #ddd;
  color: black;
}

.navbar:active {
  background-color: #4CAF50;
  color: white;
}

#navbar {
  overflow: hidden;
  background-color: blue;
}

#flashcubeHomeLogoContainer {
  transform: rotate(45deg);
  transition: transform 2s;
}
  /* animation: flashcubeHomeLogo-spin infinite 20s linear;
}

@keyframes flashcubeHomeLogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

#flashcubeHomeLogo {
  margin: 50px;
  transform: rotate(-45deg);
  
}

#flashcubeHomeLogoContainer:hover {
  transform:  rotateY(180deg) rotate(45deg); /* notice the order */
}
